* {
    margin: 0;
}

h1 {
    font-weight: 60 bold;
}

a {
    text-decoration: none;
}

#card-container {
    display: flex;

    flex-direction: column;
    width: 90%;
}

.cards__item {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article {
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

.card-title {
    display: flex;
    /* justify-content: center; */
}

#testimonials {
    padding: 10px;
    background-color: #292E47;
}

#testimonials>h2 {
    color: #fff;
}

#testimonials>p {
    color: #FFC600;
}

.emoji-top-left {
    background-image: url('./img/memoji-1.png');
}

.emoji-top-right {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    margin-top: 5%;
    margin-right: 10%;
    background-image: url('./img/memoji-2.png');
    background-position: 50% 50%;
    background-size: contain;
}

.emoji-bottom-left {
    background-image: url('./img/memoji-3.png');
}

.emoji-bottom-left {
    background-image: url('./img/memoji-4.png');
}


